<%= form_with model: post, local: true do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :content, "投稿内容", class: "form-label" %>
    <%= f.text_area :content, rows: 5, class: "form-control" %>
  </div>

  <div class="text-end">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
